<div *ngFor="let product of products; index as productId">

  <h3>
    <!-- routerLink attribute create path to new component as fixed segment, /products and final segment as variable declared in RouterModule -->
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>


  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>

</div>